.picker5 {
  :global(.smart-picker__columns) {
    justify-content: center;
  }
  :global(.smart-picker__column) {
    flex: 0;
    width: auto;
  }
}

.reuseTip {
  padding: 8px 16px;
  color: #969799;
  font-size: 12px;
}

.reuseBtn {
  margin: 0 16px 12px;
  padding: 10px 0;
  color: #1989fa;
  font-size: 14px;
  text-align: center;
  border: 1px solid #1989fa;
  border-radius: 8px;
}
